/* Geral */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Nunito";
  src: url(../assets/fonts/Nunito-VariableFont_wght.ttf);
}

body {
  background-color: #1f1f1f;
  font-family: "Nunito";
  color: #ffffff;
  height: 100vh;
  overflow: hidden;
}

img {
  width: 100%;
  height: 100%;
}

a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.center {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -55%);
  width: 1440px;
  max-width: 85%;
  z-index: 6;
  height: 680px;
  max-height: 90%;
}

.point-decoration {
  position: absolute;
  width: auto;
  height: 300px;
  max-height: 30%;
  top: 0;
  left: 0;
  transform: translate(-30%, -45%);
  z-index: 2;
}

.ellipse-right {
  position: absolute;
  width: auto;
  height: 800px;
  max-height: 110%;
  top: 0;
  right: 0;
  z-index: 4;
}

.ellipse-left {
  position: absolute;
  width: auto;
  height: 680px;
  max-height: 70%;
  bottom: 0;
  left: 0;
  z-index: 3;
}

/* Profile Panel */

.title {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 15px;
  color: #ffffff;
  font-size: 4rem;
  margin-top: 40px;
  font-weight: 500;
  padding: 20px;
  text-align: center;
}

.title img {
  width: 60px;
  height: auto;
}

.title span {
  font-weight: 700;
}

.profile-panel {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: #000000;
  z-index: 5;
  overflow: auto;
  padding-bottom: 25px;
}

/* Search box */

.search {
  position: sticky;
  top: 2%;
  width: 650px;
  max-width: 95%;
  display: flex;
  background-color: #ffffff;
  border-radius: 10px;
  margin: 30px auto 45px auto;
  box-shadow: 0 0 15px 0 #0707077e;
  border:2px solid transparent;
  padding:1px;
  transition: 0.2s;
  border:1px solid transparent;
}

.search input {
  width: 90%;
  padding: 20px 10px;
  outline: none;
  font-size: 1.3rem;
  border: none;
  border-radius: 10px 0 0 10px;
  font-family: "Nunito";
}

.search:focus-within {
  border:1px solid #005cff;
  transform: translateY(-5px);
}


.search button {
  width: 10%;
  max-width: 100%;
  border: none;
  outline: none;
  padding: 15px;
  background-color: #005cff;
  border-radius: 9px;
  cursor: pointer;
  transition: 0.2s;
}

.search button:hover {
  background-color: #2472f8;
}

.search button img {
  width: 28px;
  height: auto;
}

/* Profile Informations */

.profile-info {
  width: 70%;
  padding: 35px;
  display: flex;
  align-items: center;
  justify-content: start;
  gap: 35px;
  margin: 0 auto;
  border-radius: 30px;
  background-color: #d9d9d9;
  animation: fadeIn 0.5s ease-in-out;
}

.profile-info img {
  width: 250px;
  height: 250px;
  border-radius: 50%;
  border: 2px solid #005cff;
}

.profile-name_resume {
  font-family: "Nunito";
  color: #000000;
}

.profile-name_resume h3 {
  font-size: 1.5rem;
  color: #005cff;
}

.profile-name_resume h4 {
  font-size: 1rem;
  margin-top: 20px;
  font-weight: 300;
}

/* not found */

.not-found {
  width: 70%;
  background-color: #d9d9d9;
  margin: 0 auto;
  text-align: center;
  padding: 20px 35px 20px 35px;
  color: #ff0000;
  font-size: 1.6rem;
  border-radius: 10px;
}

.not-found p {
  max-width: 45ch;
  margin: 0 auto;
}

@media screen and (max-width: 1120px) {
  .profile-info {
    width: 95%;
    flex-direction: column;
    text-align: center;
  }
}

@media screen and (max-height: 990px) {
  .point-decoration {
    height: 15vw;
  }

  .ellipse-right {
    height: 55vw;
  }

  .ellipse-left {
    height: 55vw;
  }
}

@media screen and (max-width: 700px) {
  .search {
    flex-direction: column;
  }

  .search button {
    width: 100%;
  }
}

@media screen and (max-width: 530px) {
  .title {
    font-size: 3rem;
  }
}

@media screen and (max-width: 380px) {
  .profile-info img {
    width: 50vw;
    height: auto;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateX(-20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
